*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', sans-serif;
}
a{
    text-decoration: none !important;
}
/* navbar */
.navbar{
  width: 100%;
  position: fixed;
  z-index: 1000;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 1.5rem;
}
.logo a{
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-decoration: none;

}
.logo a span{
  color: limegreen;
}
.menu{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

}
.menu li a{
  text-decoration: none;
  color: white;
  padding: 5px 20px;
  margin: 5px;
  border-radius: 5px;
  transition: all 0.5s ease;
}
.menu li a:hover{
  background-color: limegreen;
  color: white;
}
.burger{
  display: none;
}
/* movie detailss */

.mov-details{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121112;
    padding: 25px;
}
.mov-details .main-detail{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-detail .first-con{
    width: 450px;
    /* height: 500px; */
    display: flex;
    justify-content: flex-start;

}
.first-con img{
    width: 340px;
    height: 500px;
    border-radius: 10px;
  margin-top: 70px;
}
.main-detail .second-con{
    width: 450px;
    /* height: 500px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.second-con h2{
    font-size: 50px;
    text-align: left;
    color: white;
}
.second-con .ratings{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    /* margin-bottom: 20px; */
  }
  .ratings .rate{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 10px;
  }
  .rate img{
    width: 50px;
    margin-right: 5px;
  }
  .rate p{
    font-size: 30px;
    color: white;
    text-decoration: none;
  }
  .second-con .genre{
    font-size: 25px;
    color: limegreen;
    margin-bottom: 20px;
  }
  
  .second-con .explanation{
    font-size: 20px;
    color: white;
    text-align: left;
    margin-bottom: 20px;
    text-decoration: none;
  }
  .second-con .watch-links{
    display: flex;
  }
  .watch-links a{
    font-size: 20px;
    padding: 5px 10px;
    width: 100px;
    background-color: limegreen;
    color: white;
    margin-right: 10px;
    text-align: center;
    border-radius: 5px;
  }

  /* watching */
  .watching{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    background-color: limegreen;
  }
  .watching .main-watching{
    width: 90%;
    height: 75vh;
background-color: #121112;
  }
/* NEW RELEASE */
  .new-release{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121112;
    padding-top: 40px;
  }
  .main-release{
    width: 100%;
    padding: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .main-release .title{
    width: 100%;
    margin-bottom: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  .title h3{
    font-size: 40px;
    text-align: left;
    color: white;
  }
  .title a{
    font-size: 16px;
    color: white;
    border: 0.5px solid limegreen;
    padding: 5px 15px;
    border-radius: 5px;
    font-family: 'Space Grotesk', sans-serif;
  }
  .title h3 span{
    color: limegreen;
  }
  .main-release .first-part{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  .first-part .movie{
    width: 200px;
    display: flex;
    flex-direction: column;
    margin: 15px;
  }
  .movie img{
    width: 200px;
    height: 320px;
    margin-bottom: 5px;
    border-radius: 10px;
  }
  .movie .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .details .name{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .name a{
    font-size: 30px;
    text-align: center;
    color: white;
  }
  .name a:hover{
    color: limegreen;
  }
  .name p{
    font-size: 20px;
    color: white;
  }
  .details .watch{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .watch a{
    font-size: 15px;
    padding: 5px 10px;
    border: 0.5px solid limegreen;
    color: white;
    border-radius: 5px;
    transition: 0.5s ease;
  }
  .watch a:hover{
    background-color:limegreen;
    color: black;
  }
  .main-release .previous-next{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .previous-next a{
    font-size: 15px;
    color: black;
    transition: 0.5s ease;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    background-color: limegreen;
  }

  @media screen and (max-width: 480px){
    .mov-details .main-detail{
      width: 100%;
      display: flex;
      flex-direction: column;
  }
  .main-detail .first-con{
      width: 100%;
      /* height: 500px; */
      display: flex;
      justify-content: center;
      align-items: center;  
  }
  .first-con img{
    width: 250px;
    height: 400px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.main-detail .second-con{
  width: 100%;
  /* height: 500px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.second-con h2{
  font-size: 35px;
  text-align: center;
  color: white;
}
.second-con .ratings{
  display: flex;
  justify-content: center;
  align-items: center;
}
.second-con .explanation{
  font-size: 16px;
  color: white;
  text-align: center;
}
.watching .main-watching{
  width: 100%;
  height: 20vh;
background-color: black;
}
    .main-release .first-part{
      display: flex;
      flex-direction: column;
    }
    /* .main-detail .first-con{
      margin-top: 70px;
    } */
  }

  @media screen and (max-width:770px){
    .main-release .first-part{
      display: flex;
      flex-wrap: wrap;
    }

    .menu{
      display: none;
    }
    .burger{
      display: block;
      cursor: pointer;
    }
    .line1,
    .line2,
    .line3{
      width: 25px;
      height: 3px;
      background-color: white;
      margin: 5px;
      transition: all 0.5s ease;
    }
.change .line1{
  transform: rotate(-45deg) translate(-5px, 6px);
}
    .change .line2{
      opacity: 0;
    }
    .change .line3{
      transform: rotate(45deg) translate(-5px, -6px);
      background-color: limegreen;
    }
.menu.active{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
z-index: 1000;
  background-color: black;
  transition: all 0.5s ease;

}
.menu.active li{
  margin: 0.5rem 0;
  width: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
}
.menu.active li a{
  font-size: 25px;
  text-decoration: none;
  width: 100%;
  padding: 10px 20px;
  text-align: center;
  transition: all 0.5s ease;
}
  }